@import './mixin.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  @include font-size(20px);
}

#app {
  height: 100%;
}

// A tag
a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

// Box model
*,
*:before,
*:after {
  box-sizing: inherit;
}

// Display
.block { display: block; }
.inblock { display: inline-block; }

// Font weight bold
.bold { font-weight: bold; }

// Text ellipsis
.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Align way
$aligns: left, center, right;
@each $align in $aligns {
  .text-#{$align} { text-align: $align; }
}

// ScrollBar global config
::-webkit-scrollbar-track-piece {
  background: #d3dce6;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #99a9bf;
  border-radius: 20px;
}
