// Display
.block { display: block; }
.inblock { display: inline-block; }

// Font Weight Bold
.bold { font-weight: bold; }

// Text Ellipsis
 .text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Align Way
$aligns: left, center, right;
@each $align in $aligns {
  .text-#{$align} { text-align: $align; }
}