// Primary
$primary: #409EFF !default;
$primary_hover: #D9ECFF !default;

// Danger
$danger: #F56C6C !default;
$danger_hover: #FDE2E2 !default;

// Success
$success: #67C23A !default;
$success_hover: #E1F3D8 !default;

// Warning
$warning: #E6A23C !default;
$warning_hover: #FAECD8 !default;

// Info
$info: #909399 !default;
$info_hover: #746F6F !default;

// Background
$background_color: #F7F7F7 !default;

// Border
$border_color: #DCDFE6 !default;

// Text Primary
$text_primary: #303133 !default;

// Text Regular
$text_regular: #606266 !default;

// Text Secondary
$text_secondary: #909399 !default;

// Text Placeholder
$text_placeholder: #C0C4CC !default;